{% extends 'base.html' %} {% block title %}Favorites{% endblock %} 
{% block content %}
<h1 style="text-align: center">SEARCH</h1>
<div style="text-align: center">
    <h2>Select State</h2>
    <form method="POST">
    <select name="selectedState" style="margin: 1em; height: 2.5em; width: 45%">
      {% for state in states %}
      <option value="{{ state }}">{{ state }}</option>
      {% endfor %}
    </select>
    <div style="text-align: right;">
        <button  type="submit" class="btn btn-primary btn-lg" >>>></button>
      </div>
<br />
</div>
</form>
{% endblock %}