{% extends 'base.html' %} {% block title %}Favorites{% endblock %} 
{% block content %}
<h1 style="text-align: center">SEARCH</h1>
<form method="POST">
<div style="text-align: center">
    <h2>Select Search Method</h2>
    <select name="style" style="margin: 1em; height: 2.5em; width: 45%">
      {% for style in searchStyles %}
      <option value="{{ style }}">{{ style }}</option>
      {% endfor %}
    </select>
    <div style="text-align: right;">
        <button  type="submit" class="btn btn-primary btn-lg" >>>></button>
      </div>
<br />
</div>
</form>
<script src="{{ url_for('static', filename='javascript/dateIncrement.js') }}">// calculates future dates</script>
{% endblock %}