{% extends 'base.html' %} {% block title %}Favorites{% endblock %} 
{% block content %}
<h1 style="text-align: center">SEARCH</h1>
<div style="text-align: center">
    <h2>Select Pass</h2>
    <form method="POST">
    <select name="selectedPass" style="margin: 1em; height: 2.5em; width: 45%">
      {% for ticket in passes %}
      <option value="{{ ticket }}">{{ ticket }}</option>
      {% endfor %}
    </select>
    <div style="text-align: right;">
        <button  type="submit" class="btn btn-primary btn-lg" >>>></button>
      </div>
<br />
</div>
</form>
{% endblock %}